html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: cornsilk;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', serif;
}

.wrapper {
	/* border: 2px solid orange; */
	width: 90%;
	padding: 20px 0;
	overflow: auto;
	margin: 0.1em auto;
}
.banner {
		overflow: auto;
}
.banner h1 {
	font-size: 250%;
	float:left;
}
.social {
	float:right;
	margin-right: 2em;
}
.social a{
	color:cornsilk;
}
.social a:hover{
	color:yellow;
}
header {
	background-color: navy;
	color: cornsilk;
	width: 100%;
	overflow: auto;
	position: fixed; 
border: 3px solid maroon;

/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#000080', GradientType=1 ); */
}

header h1 {
	margin: 1em 0 0 1.5em;
	padding: 0em 0 0 1em; 
	display:inline-block;

	/*border: 1px solid white; */
}
header img {
	float:left;
	border: 2px solid red;
	border-radius: 100px;
	margin: 10px 0 10px 40px;

}
.floatleft {
	float: left;
	margin: 0 1em 1em 0;
	/* order for 4 numbers is TRouBLe */
}
.floatright {
	float: right;
	margin: 0 0 1em 1em;
	/* order for 4 numbers is TRouBLe */
}
.clearfloat {
	clear: both;
}
/* floats: you can combine with other styles, shown here for clarity */
aside {
	width: 25%;
	padding-top: 150px;
}
aside h2 {
	text-align: center;
}
figcaption {
	text-align:center;
}
article {
	width: 70%;
	padding: 150px 5px 5px 5px;
	/* border: 2px solid orange; */
		overflow: auto;
}

header h1 {
	width: 30%;
	float: left;
}
nav {
	font-family: 'Droid Serif', serif;
	font-size: 1.2em;
	font-weight: bold;
	width: 50%;
	float: right;
	padding-top: 1.5em; 
}
nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
}
nav li {
	display: inline;
	padding-right: 0.5em;
}
nav a {
	display: inline-block;
	text-decoration: none;
	color: cornsilk;
	padding: 0.2em 0.6em;
}
nav a:hover {
	color: #ffc;
	background-color: maroon;
}
.selected {
	border-top: 2px solid cornsilk;
}
/*section :first-child::first-letter {
	font-weight: bold;
	font-size: 3em;
	float: left;
}*/
section {

	overflow: auto;
}
section p:first-of-type::first-letter {
	font-family: 'Droid Serif', serif;	
	font-weight: bold;
	font-size: 3em;
	/*float: left;*/
}
blockquote {
	padding: 1em;
	margin-left: 0;
	position: relative;
}
blockquote::after {
	  content: "";
	  background: url(http://nehaparikhdance.com/images/NehaMohiniAttam_03_WM.jpg); 
	  /*background-color: maroon; */
	  opacity: 0.2;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;   
	  /*border-radius: 10px; */

}
blockquote p {
	font-weight: bold;
}
blockquote cite {
	font-family: Georgia, serif;
	font-size: 0.85em;
}
footer {
	background-color: navy;
	color:cornsilk;
	text-align: center;
	padding: 1em 5em;
	border-top: 50px solid red;

		background: rgba(0,0,128,1);
background: -moz-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(32,124,229,1) 50%, rgba(0,0,128,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,128,1)), color-stop(50%, rgba(32,124,229,1)), color-stop(100%, rgba(0,0,128,1)));
background: -webkit-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(32,124,229,1) 50%, rgba(0,0,128,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(32,124,229,1) 50%, rgba(0,0,128,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(32,124,229,1) 50%, rgba(0,0,128,1) 100%);
background: linear-gradient(to right, rgba(0,0,128,1) 0%, rgba(32,124,229,1) 50%, rgba(0,0,128,1) 100%);
}

footer{
	border-top: 10px solid red;
	border-image: url(Diwali_odisha_rangoli.jpg);
}

/*#borderimg1 {
    border: 10px solid red;
    padding: 15px;
    -webkit-border-image: url(border.png) 30 round;  Safari 3.1-5 
    -o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
   /* border-image: url(border.png) 30 round;
}*/
.textcenter {
	text-align: center;
}

table {
	border: 2px solid;
}

th, td {
	border: 1px solid;
}
thead th {
	background-color: burlywood;
	font-size: 110%;
	padding: 1em;
}
td {
overflow: auto;
	padding:5px;
}

td a img {
	margin: auto;
}










