/* transparent background hack: https://css-tricks.com/snippets/css/transparent-background-images/ */
.wrapper {
  width: 848px;
  height: 900px;
  display: block;
  position: relative;
  display: grid;
    /*                   2    3    4     5      6      7    8 */
   grid-template-rows: 18px 42px 288px 102px 220px  132px 24px; 
   /*                      2    3    4     5      6    */ 
 /* grid-template-columns: 82px 390px 620px  716px  845px  ; */
  grid-template-columns: 72px 292px 230px  80px  126px  ;   
    grid-gap: 12px 12px;  
  background-color: black;    
}
.wrapper::after {
  content: "";
  background: url(848px-Tableau_I,_by_Piet_Mondriaan.png) no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}
div {
	border: 1px solid black;
	background-color: gainsboro;
}

.a {
 grid-row: 1 / 2;
 grid-column: 1/3;
 background-color: tomato;
}
.b {
grid-row: 2 / 5;
 grid-column: 1/3;
}
.c {
grid-row: 1 / 5;
 grid-column: 3/5;
}
.d {
grid-row: 1 / 3;
 grid-column: 5/6;
 background-color: black;
}
.e {
grid-row: 3 / 4;
 grid-column: 5/6;
}
.f {
grid-row: 4 / 5;
grid-column: 5/6;
}
.g {
  grid-row: 5 / 8;
  grid-column: 1/2;
}
.h {
grid-row: 5 / 6;
  grid-column: 2/3;
  background-color: darkslateblue;
}
.i {
grid-row: 5 / 7;
  grid-column: 3/5;
}
.j {
  grid-row: 5 / 8;
  grid-column: 5/6;
  background-color: goldenrod;
}
.k {
  grid-row: 6 / 7;
    grid-column: 2/3;
}
.l {
  grid-row: 7 / 8;
      grid-column: 2/4;
}
.m {
    grid-row: 7 / 8;
    grid-column: 4/5;    
}