html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Georgia', 'Times New Roman', serif;
    color: cornsilk;
    background-color: #000520;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Droid Serif', serif;
}

a {
    color: cyan;
}


/* trying to recreate some bootstrap like typography */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-info {
    color: MediumSpringGreen;
    /* a brighter green */
}

div {
    border: 1px solid grey;
}
.social {
    
    /*margin-right: 2em; */
}

.social a {
    color: cornsilk;
}

.social a:hover {
    color: yellow;
}

.inline-block {
    display: inline-block;
    border: 1px solid purple;
}

.wrapper: {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    position: relative;
}

.header: {
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30em 100em 20em;
}

header h1 {
    margin: 1em 0 0 1.5em;
    padding: 0em 0 0 1em;
    /*border: 1px solid white; */
    font-size: 1em;
}

header img {
    float: left;
    border: 2px solid red;
    border-radius: 100px;
    margin: 10px 0 10px 40px;
}
#logo {
    grid-row: 1;
    grid-column: 1;
}

#heading {
    grid-row: 1;
    grid-column: 2;
}

#social {
    grid-row: 1;
    grid-column: 3;
}

.hd-col-1 {
    width: 16%;
}

.hd-col-2 {
    width: 33%;
}

.hd-col-3 {
    width: 48%;
}

.navbar: {
    grid-row: 2;
}

.navbar ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar ul li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid blue;
    background-color: red;
    margin: 0 2em;
    text-align: center;
}

.inline-block {
    display: inline-block;
}


/*#main {
    grid-row: 1;
    grid-column: 1/2;
    
}

#imp {
    grid-row: 1;
    grid-column: 2/3;
   
} */

.footer: {
    grid-row: 4;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content min-content;
}

.footer-row {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #ccc;
    grid-template-columns: 1fr 10%;
    border: 1px solid blue;
}

[class*='col-'] {
    margin-left: 2%;
    min-height: 1px;
    /*   position: relative;  */
}
.main-container: {
    grid-row: 3;
    display: grid;
   grid-template-rows: 3fr; 
    grid-template-columns: min-content;
}

.imp {
    grid-row: 1/2;
}

.themain {
    grid-row: 2/3;
}


/* mobile first approach - columns are all together 96% wide */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-2-6 {
    width: 96%;
}

.hide-m {
    display: none;
}


/* big phone to small tablet size */

@media only screen and (min-width:480px) and (max-flex: 0 0 767px) {
    /* tablet */
    .main-container: {
        grid-row: 3;
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: min-content min-content;
    }
    /* columns 3 & above become full width */
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-2-6 {
        width: 96%;
    }
    .col-1,
    .col-2 {
        width: 47%;
    }
    .hide-m {
        display: block;
    }
    .imp {
        grid-row: 1;
    }
    .themain {
        grid-row: 2;
    }
    nav {
        font-size: 1em;
    }
    blockquote::after {
        content: "";
        background: url(../img/ghungroo_small.jpg);
    }
}


/*anything bigger than a tablet is assumed to be desktop and above */

@media only screen and (min-width:768px) {
    .main-container: {
        grid-row: 3;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, min-content);
        grid-gap: 1%;
    }
    .col-1 {
        width: 14.3%;
    }
    .col-2,
    .col-2-6 {
        width: 30.6%;
    }
    .col-3 {
        width: 47%;
    }
    .col-4 {
        width: 63.2%;
    }
    .col-5 {
        width: 81.5%;
    }
    .col-6 {
        width: 96%;
    }
    .hide-m {
        display: block;
    }
    .themain,     .imp {
        grid-row: 1;
    }
    nav {
        font-size: 1.2em;
    }
    blockquote::after {
        content: "";
        background: url(../img/ghungroo_big.jpg);
        /* background image for desktop */
    }
}
