html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Georgia', 'Times New Roman', serif;
	padding: 0;
	border: 1px solid blue;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

.wrapper {
	border: 1px solid blue;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
}

#home {
	border: 1px solid red;
}

footer{
	border: 1px solid green;
}

.social li a {
	display:inline;
}

.logo-img {
	  border: 2px solid maroon;
  /* 		border-radius: 100px; */
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}