/* colors from color-hex 'Continental Marine' palette. URL:; http://www.color-hex.com/color-palette/32256 */
/* variables */
/* use of a sass builting function below */
/* default width of 1/6 column on a desktop for a 6 col grid */
/* space between cols */
/* custom functions */
/* custom function to calculate %width based on number of columns for the grid system*/
/* mixin with if then else and a default of left align */
/* line 67, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
html {
  box-sizing: border-box;
}

/* line 70, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 74, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
body, blockquote cite {
  font-family: "Georgia", "Times New Roman", serif;
  color: cornsilk;
  /* background-color: #000520; */
  background-color: #030b25;
  padding: 0;
  margin: 0;
}

/* line 83, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
}

/* line 87, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
a {
  color: cyan;
}

/* trying to recreate some bootstrap like typography */
/* line 92, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.text-center {
  text-align: center;
  /* text-align: center; */
}

/* line 96, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.text-right {
  text-align: right;
  /* text-align: right; */
}

/* line 100, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.text-left {
  text-align: left;
  /* text-align: left; */
}

/* line 105, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.text-info {
  color: MediumSpringGreen;
  /* a brighter green */
}

/* line 109, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.wrapper {
  border: 2px solid maroon;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}

/* line 48, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.banner h1 {
  font-size: 0.7em;
  float: left;
}

/* header font size on mobile */
/* line 119, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.banner {
  overflow: auto;
}

/* multiple levels of nesting */
/* line 124, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.social {
  float: right;
  margin-right: 2em;
}

/* line 127, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.social a {
  color: cornsilk;
}

/* line 129, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.social a:hover {
  color: yellow;
}

/* nesting */
/* line 136, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
header, footer {
  background-color: #0a1f6b;
  color: cornsilk;
  width: 100%;
  overflow: auto;
  border: 2px solid maroon;
}

/* line 141, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
header h1, footer h1 {
  margin: 1em 0 0 1.5em;
  padding: 0em 0 0 1em;
  display: inline-block;
  float: left;
}

/* line 148, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
header img, footer img {
  float: left;
  border: 2px solid red;
  border-radius: 100px;
  margin: 10px 0 10px 40px;
}

/* line 157, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
section, aside {
  overflow: auto;
}

/* line 160, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
main img, section img, aside img {
  display: block;
  float: left;
  margin-right: 1.875em;
  width: auto;
  max-width: 100%;
}

/* line 169, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.img-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 175, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.floatleft {
  float: left;
  margin: 0 1em 1em 0;
  /* order for 4 numbers is TRouBLe */
}

/* line 180, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.floatright {
  float: right;
  margin: 0 0 1em 1em;
  /* order for 4 numbers is TRouBLe */
}

/* line 185, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.clearfloat {
  clear: both;
}

/* floats: you can combine with other styles, shown here for clarity */
/* line 190, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
aside h2 {
  text-align: center;
}

/* nesting multi level */
/* line 195, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
nav {
  font-family: "Droid Serif", serif;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.1em 0;
  background-color: #003a04;
}

/* line 201, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

/* line 207, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
nav li {
  display: inline;
  padding-right: 0.5em;
}

/* line 213, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
nav a {
  display: inline-block;
  text-decoration: none;
  color: cornsilk;
  padding: 0.2em 0.6em;
  width: 30%;
  margin: 0 auto;
}

/* line 220, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
nav a:hover {
  color: #ffc;
  background-color: maroon;
}

/* line 230, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.selected {
  /* border-top: 2px solid $fontcolor; */
  background-color: #0a1f6b;
  color: cornsilk;
  /* use of a  built-in sass function */
  background-color: #6b560a;
  text-align: center;
  padding: 0.2em 0;
}

/* line 240, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
section {
  overflow: auto;
}

/* line 245, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
blockquote {
  padding: 1em;
  margin-left: 0;
  position: relative;
}

/* line 249, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
blockquote::after {
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* line 258, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
blockquote p {
  font-weight: bold;
}

/* line 261, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
blockquote cite {
  /* extend */
  /*font-family: $body-font;
		color: $fontcolor; */
  font-size: 0.85em;
}

/* line 41, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
blockquote::after {
  content: "";
  background: url("../img/ghungroo_small.jpg");
}

/* line 275, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
footer {
  text-align: center;
  padding: 1em 5em;
  border-top: 5px solid maroon;
}

/* line 282, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
footer::after {
  content: "All images copyrights www.nehaparikhdance.com";
}

/* line 288, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
table {
  border-collapse: collapse;
  width: 100%;
}

/* line 293, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
td, th {
  border: 1px solid orange;
  text-align: center;
  padding: 0.2em;
}

/* line 299, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
tr:nth-child(even) {
  background-color: #003a04;
}

/* my grid system */
/* line 304, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* line 309, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
[class*='col-'] {
  float: left;
  margin-left: 2%;
  min-height: 1px;
  position: relative;
}

/* mobile first approach - columns are all together 96% wide */
/* line 317, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-2-6 {
  width: 95.8%;
  /*  96%;  */
}

/* line 321, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.hide-m {
  display: none;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* tablet */
  /* columns 3 & above become full width */
  /* line 329, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .col-3, .col-4, .col-5, .col-6, .col-2-6 {
    width: 95.8%;
    /* 96%;  */
  }
  /* line 332, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .col-1, .col-2 {
    width: 46.9%;
    /*  47%;  */
  }
  /* line 335, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .hide-m {
    display: block;
  }
  /* line 48, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .banner h1 {
    font-size: 1.2em;
    float: left;
  }
  /* line 340, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  nav {
    font-size: 1em;
  }
  /* line 41, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  blockquote::after {
    content: "";
    background: url("../img/ghungroo_small.jpg");
  }
  /*blockquote::after {
		content: "";
		background: url(../img/ghungroo_small.jpg);
		} */
}

@media only screen and (min-width: 768px) and (max-width: 1013px) {
  /* line 48, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .banner h1 {
    font-size: 1.5em;
    float: left;
  }
}

/*anything bigger than a tablet is assumed to be desktop and above */
@media only screen and (min-width: 768px) {
  /* line 362, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .col-1 {
    width: 14.3%;
    /*  14.3%;  */
  }
  /* line 366, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .col-2, .col-2-6 {
    width: 30.6%;
    /*30.6%; */
  }
  /* line 370, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .col-3 {
    width: 46.9%;
    /* 47%; */
  }
  /* line 374, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .col-4 {
    width: 63.2%;
    /* 63.2%; */
  }
  /* line 378, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .col-5 {
    width: 79.5%;
    /* 79.5%; */
  }
  /* line 382, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .col-6 {
    width: 95.8%;
    /* 96%; */
  }
  /* line 386, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .hide-m {
    display: block;
  }
  /* line 391, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  nav {
    font-size: 1.2em;
  }
  /* line 41, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  blockquote::after {
    content: "";
    background: url("../img/ghungroo_big.jpg");
  }
  /*	blockquote::after {
			content: "";
			background: url(../img/ghungroo_big.jpg); 
		} */
}

@media only screen and (min-width: 1014px) {
  /* line 48, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
  .banner h1 {
    font-size: 2em;
    float: left;
  }
}

/* fluid video test - obtained from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
/* line 411, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* line 416, C:/Users/Vani/Documents/HarvardOnline/DGMDE-27/E27-Projects/A02/scss/styles.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid silver;
}

/*# sourceMappingURL=../css/styles.map */